html {
    height: 100%;
}
body
{
    position: relative;
    margin: 0px;
    min-height: 100%;

}
.Book
{
    display: flex;
    flex-direction: column;
    
    padding: 10px;
    width: 250px;
    height: 300px;
    background-color: aliceblue;
    box-shadow: 0px 0px 0px 3px #0c4a6e;
    background: linear-gradient(to bottom left,rgb(248, 248, 248) 15%, #88d9ff, #38bdf8 80%,#0094d3);
    border-radius: 20px;
}
.bookHeader
{
    display: flex;
    justify-content: space-between
}

.titleContent, .bookPages, .hasreadButtons
{
    display: flex;
    justify-content: center;
    width: 150px;
    font-size: 40px;
    box-shadow: 0px 4px 3px -3px black;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 #FFD700, 0 1px #FFD700, 1px 0 #FFD700, 0 -1px #FFD700;
}

.deleteBtn
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 60px;
    width: 70px;
    background: rgba(0, 0, 0, 0);
    border-radius: 30px;
    border-color: rgb(192,192,192);
    color: black;
    font-size: 50px;
    font-weight: 100;
    color: red;
}

.bookComponent
{
    margin-left: 10px;
    flex: 1;
}

.bookBody
{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 30px
}

.bookPages
{
    width: 200px;
    justify-content: start;
    font-size: 20px;
}
.hasreadButtons
{
    width: 200px;
    font-size: 19px;
}
.radioForm
{
    display: flex;
    justify-content: space-around;
    width: 200px;
}
label
{
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.no
{
    text-shadow: -1px 0 #ff0000, 0 1px #ff0000, 1px 0 #ff0000, 0 -1px #ff0000;
}
.yes
{
    text-shadow: -1px 0 #09ff00, 0 1px #09ff00, 1px 0 #09ff00, 0 -1px #09ff00;
}
.bookFooter
{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 10px;
}

.authorName
{
    font-weight: bolder;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-shadow: -1px 0 #FFD700, 0 1px #FFD700, 1px 0 #FFD700, 0 -1px #FFD700;
    box-shadow: 0px 4px 3px -3px rgb(255, 255, 255);
}
.formDiv
{
    background-color: #0c4a6e;
    box-shadow: 0px 0px 10px 0px #0c4a6e;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 45%;
    top: 20%;


    display: none;
    
}
.formLabel
{
    color: black;
    font-size: 20px;

}
.inputForm
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 95%;
    width: 90%;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px #ffffff;

}

input
{
    border-radius: 5px;
}
input:valid
{
    border-color: #09ff00;
    border-style: solid;
}
input:invalid
{
    border-color: #ff0000;
    border-style: solid;
}
input:hover
{
    border-color:#0094d3;
    box-shadow: 0px 0px 10px 0px #0094d3;
    border-style: solid;
}

.submitBtn
{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
    border-color:#0094d3;
    border-style: ridge;
} 

.tempBody
{
    display: flex;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.pageHeader
{
    flex-grow: 1;
    background-color: #88d9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.pageBody
{
    flex-grow: 4;
    
}
.BookContainer
{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    row-gap: 30px;
    padding: 20px;
    justify-content: center;
}
.newBookButton
{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 1%;
    bottom: 1%;
    background: linear-gradient(to bottom right,black,white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #09ff00;
    font-size: 55px;
}

.newBookButton:hover
{
    box-shadow: 0px 0px 0px 2px greenyellow;
}

